// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-quote {
    font-family: 'Prompt', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ededee;
  padding: 2vh 4vw;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 4vh 4vw;
  color: #686868;
  font-size: 5vh;
  margin-top: 2vh;
  text-align: center;
  min-height: 30vh;


}

.form {
  padding: 2vh 25vw;
  font-family: 'Prompt', sans-serif;
  color: #686868;
  font-size: 3vh;

}

.comment_text {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment_author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#comment_author {
  min-height: 4vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

#comment_text {
    font-family: 'Prompt', sans-serif;

  min-height: 15vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.required {
    font-family: 'Prompt', sans-serif;

  color: #686868;
  font-size: 2vh;
}

.comments-and-authors {
    font-family: 'Prompt', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ededee;
  padding: 2vh 4vw;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 4vh 4vw;
  color: #686868;
  font-size: 4vh;
  margin-top: 2vh;
  text-align: center;
  min-height: 30vh;
}

.author-comment {
    font-family: 'Prompt', sans-serif;

  font-size: 3vh;
  margin-top: 3vh;
}

.others {
    font-family: 'Prompt', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  //background-color: #ededee;
  padding: 2vh 4vw;
  //box-shadow: 2px 2px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 4vh 4vw;
  color: #686868;
  font-size: 5vh;
  margin-top: 2vh;
  text-align: center;
  //min-height: 30vh;
}

#quote_content {
  min-height: 20vh;
  margin-bottom: 4vh;
}
