<!DOCTYPE html>
<html>
  <head>
    <title>Quotes by Zaneta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://i.ibb.co/fSyf9sV/right-quote.png" alt="logo">
  </a>
</div>
  <body>
    <div class="yield-wrapper">
    <%= yield %>
    </div>
  </body>

  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/zanetauba"><i class="fab fa-github"></i></a>

    <a href="https://www.linkedin.com/in/zaneta-uba-a35186b3/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Zaneta Uba
  </div>
</div>
</html>
